.h1 {

    margin-left: 260px;
    color: white;
    text-align: center;
}



.ul {

    display: block;

    width: 220px;
    height: 642px;
    margin: 0;
    padding: 0;
    background-color: #003153;
    float: left;


}

.links a {

    display: block;

    color: white;
    padding: 8px 16px;
    text-decoration: none;
    text-align: center;
    border: 1px solid;



}

.links a:hover {

    background-color: #04478a;
    color: white;
}



.updatediv {


    border: 1px solid white;
    width: 800px;
    height: 550px;
    margin-left: 470px;
    margin-right: auto;

}


.labeltag {


    color: white;
    font-weight: bold;
    font-size: large;
    margin-left: 70px;


    width: 100px;
    text-align: left;
    display: inline;
}

.input {
    width: 250px;
    height: 40px;



    box-sizing: border-box;
    border-radius: 4px;

    font-size: medium;
    display: block;

    padding: 12px 15px;
    margin: 8px 66px;

}


.h2 {

    color: white;
    text-align: center;
    margin-bottom: 40px;
}

.updatebtn {
    color: white;
    height: 50px;
    width: 150px;
    border: 1px solid#8DA399;
    margin-top: 20px;
    padding: 10px;
    background-color: transparent;
    font-size: medium;
    position: relative;
    left: 470px;
    bottom: 230px;

}


.updatebtn:hover {

    background-color: #003366;

    cursor: pointer;

}